# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ecommerce
POSTGRES_PORT=5433

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Redis
REDIS_PORT=6379
REDIS_INSIGHT_PORT=5540

# Qdrant
QDRANT_PORT=6333
QDRANT_UI_PORT=6334

# Neo4j
NEO4J_USER=
NEO4J_PASSWORD=
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

#Jaeger
OTEL_UI_PORT=16686
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318

#Auth
AUTH_PORT=5132

#ApiGateway
GATEWAY_PORT=5133